services:
  truemeter-frontend:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
      - NEXT_PUBLIC_API_URL=https://truemeter-api.onrender.com
    restart: unless-stopped
    container_name: truemeter-frontend
